.layout-container{
  display: flex;
}

.layout-dashboard {
  position: relative;
  width: 100%;
  z-index: 0;
  height: 70%;
}

.topBaseGradients {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 15rem;
  overflow: hidden;
  z-index: -1;
}

.topBaseGradients>:nth-child(2)
{
    left: 40%;
}
.topBaseGradients>:nth-child(3)
{
    right: 0;
}
.header{
    display: flex;
    padding: 1rem 8rem 1rem 1rem;
    align-items: center;
    justify-content: space-between;
}
.header>:nth-child(1)
{
    font-size: 1.2rem;
}
.searchBar{
    background-color: rgba(255, 255, 255, 0.496);
    width: 25%;
    max-width: 12rem;
    padding: 1rem 1rem;
    border-radius: 14px;
    height: 10px;
    display: flex;
    align-items: center;
    border: px solid rgb(75, 73, 73);
    justify-content: center;
    gap: 5px;
}

.searchBar>input{
    background: transparent;
    color: white;
    border: none;
    outline: none;
    padding: 0;width: 90%;
}
.profile{
    right: 10rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    margin-right: 10px;

}

.profile>img{
    border-radius: 50%;
    width: 9vh;
    height: 9vh;
  gap: 0.5;
}
.details{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.details>:nth-child(1)
{
    font-size: 0.9;
    font-weight: bolder;
    font-family: Lato;
}
.content{
    margin: auto;
    display: flex;
    height: 100%;
    margin-top: 4rem;
}
.content>div{
    width: 100%;
    min-width: 75vh
}

